body {
    padding: 10px;
    font-family: Arial, sans-serif;
}

textarea {
    min-height: 400px;
}

.email-item {
    border: 1px solid black;
    padding: 5px;
    display: flex;
    justify-content: flex-start;
    border-bottom: none;

    
    
}

.email-item:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;


}


.email-item:last-child {
    border-bottom: 1px solid black;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    
}


.email-item .clickable:hover{
    cursor: pointer;
} 

.email-item .from {
    min-width: 170px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bold;
}

.email-item .subject {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

.email-item .timestamp {
    min-width: 180px;
    text-align: right;
    margin-left:auto;
    color: grey;
}

.email-item input {
    margin-right: 4px;
}

.read {
    background-color: rgb(224, 224, 224);
}

.actions {
    margin-bottom: 10px;
}


pre {
    font-family: Arial, sans-serif;
    font-size: 100%;
  }